extends ./layouts/main_layout.pug

block content
    if errorMessage 
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';

block scripts 
    script(src="/js/chatPage.js") 