extends ./layouts/main_layout.pug

block content
    if errorMessage 
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';
        
        .chatPageContainer  
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal") This is the chat
            .mainContentContainer 
                .chatContainer 
                    .chatMessages
                    .footer 
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane

        +createChatNameModal(chat) 


block scripts 
    script(src="/js/chatPage.js") 