extends ./layouts/main_layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else  
        script.
            var profileUserId = '!{profileUser._id}';
            var selectedTab = '!{selectedTab}';

        
        .tabsContainer   
            +createTab("Following", `/profile/${profileUser.username}/following`, selectedTab != "followers")
            +createTab("Followers", `/profile/${profileUser.username}/followers`, selectedTab == "followers")

        .resultsContainer
                    
block scripts 
    script(src="/js/followersAndFollowing.js") 