extends ./layouts/main_layout.pug

block content
    .resultsContainer

block headerButton 
    a(href="/messages/new")
        i.far.fa-plus-square

block scripts 
    script(src="/js/inboxPage.js") 