extends ./layouts/main_layout.pug

block content
    script.
        var postId = '!{postId}'
    .postsContainer 

    +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/postPage.js") 